.red-square {
    background-color: red;
    width: 100px;
    height: 100px;
}

.green-circle {
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.wrap {
    border: 1px;
    border-style: solid;
    border-color: rgb(53, 53, 53);
    width: 300px;
    padding-bottom: 21px;
    padding-left: 19px;
    font-family: Arial;
}

.design {
    background-color: black;
    width: 350px;
    padding-bottom: 21px;
    padding-left: 19px;
    padding-top: 19px;
}

.paragraph {
    color: white;
    font-family: Arial;
}

.text {
    color: gray;
}

.twee {
    width: 53px;
     height: 43px;
    border-radius: 50%;
    vertical-align: middle;
 }

.Twitter-bar {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 90px;
    font-family: Arial;
    vertical-align: middle;
}


.tweet-button {
    background-color: rgb(2, 159, 255);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    height: 36px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.twee-shadow {
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.4);
    width: 430px;
}

.card {
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.5);
    width: 275px;
    padding-bottom: 15px;
    border-color: rgb(216, 212, 212);
    border-width: 1px;
    border-style: solid;

}

.oliver {
    font-weight: bold;
    font-family: Arial;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.mutual {
    color: gray;
    margin-left: 7px;
    margin-top: 5px;
}

.addFriend {
    background-color: blue;
    color: white;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    margin-left: 7px;
}

.cardin {
    display: inline-block;
    box-shadow: 5px 5px 4px rgb(0, 0, 0, 0.3);
    width: 275px;
    padding-bottom: 15px;
    border-color: rgb(216, 212, 212);
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    margin-left: 10px;
}

.mimii {
    width: 276px;
    height: 184px;
    margin-bottom: 1px;
}

.googleLogo {
    width: 200px;
    margin-left: 34px;
}

.search-shadow {
    /* display: block; */
    border-radius: 12px;
    border: none;
    box-shadow: 7px 7px 7px rgb(0,0,0,0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 290px;
    font-family: Arial;
}

.g-wrapp  {
    text-align: center;
}

.in-wrapp {
    text-align: center;
}

.btn-wrapp {
    text-align: center;
    margin-top: 25px;
}

.g-btn {
    background-color: rgb(228, 228, 228);
    border: none;
    padding: 10px 12px;
    margin-left: 6px;
}